#info-message {
  display: flex;
  justify-content: center;
}

#info-message a {
  color: inherit;
}

.o-message-success {
  color: darkgreen;
}

.o-message-success i.copy {
  cursor: pointer;
  vertical-align: middle;
}

.o-message-success i.copy:hover {
  color: black;
}

.o-message-error {
  color: palevioletred;
}